@model MovieWeb.Models.MovieDetailViewModel

<strong>Title</strong>
<p>@Model.Title</p>

<strong>Description</strong>
<p>@Model.Description</p>

<strong>Genre</strong>
@if (Model.Genre == null)
{
    <p>Er is geen genre ingegeven voor deze film.</p>
}
else
{
    <p>@Model.Genre</p>
}

<strong>Release Date</strong>
<p>@Model.CalculateReleaseDateMessage(Model.Releasedate)</p>
